/* h1{
    color: red;
    color: rgb(255,0,0);
    color: #2d972d;
} */
@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap');
h1{
    width: fit-content;
    background: linear-gradient(to right,red,orange,blue);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body{
    /* width: 600px;
    height: 600px; */
    /* background-color: lightseagreen; */
    /* background-image: url('../images/bg.jpeg'); */
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.bg{
    color: black;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid black;
    /* background-image: url('../images/bg-phone.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */

    /* background: url('../images/bg-phone.jpeg') no-repeat center/cover; */
}
.bg p{
    width: 400px;
    text-align: justify;
}

.bg p{
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
    letter-spacing: 3px;
    word-spacing: 20px;
    line-height: 40px;
    text-indent: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-weight:lighter;
    font-size: x-large;
    font-style: italic;
    font-variant: small-caps;
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    font-style: normal;

}
